# API Backend (usa tu IP local, no localhost)
EXPO_PUBLIC_API_URL=http://192.168.1.X:8000

# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ...

# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...
